/* global stylings ______________________________________________________________________________ */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 { 
    color: pink;
}

/* button styling ______________________________________________________________________________ */
.button {
    border: black 1px solid;
    border-radius: 12px;
    align-content: center;
    justify-content: center;
    padding: 2%;
    text-decoration: none;
}

.button:hover {
    background-color: black;
    color: blanchedalmond;
}

.button:visited {
    text-decoration: none;
}


/* add nav styling here at some point, like hover links and on click and once clicked */


/* closet piece page ______________________________________________________________________________ */

.closet-piece-list-container{
    width: 96%;
    height: 90%;
    bottom: 0%;
    overflow-y: scroll;
    /* add scroll colors and details here */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: minmax(33%, auto);
    background-color: plum;
    gap: 2%;
    margin: 2%;
}

.closet-piece-container{
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.cpl-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: hidden;
    background-color:lightgray;
    margin: 5%;
    border-radius: 10px;
}

.cpl-image-content {
    width: 100%;
    height: 100%;
}

.cpl-image img {
    width: 80%;
    height: auto;
    object-fit: contain;   /* this keeps the image contained */
    display: block;
} 

.cpl-text{
    width: 90%;
    height: 90%;
    position: relative;
    align-items: center;
    /* border: blue dashed 2px;*/
    margin: 5%;
}

/* adding a piece ______________________________________________________________________________ */
.add-piece-form{
    width: 96%;
    height: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80% 20%;
    background-color: plum;
}

.form-section{
    border: darkcyan dashed 2px;
}