<html>
    <head>
        <title>reina's outfit archive</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    </head>
    <body class="{{ body_class or '' }}">
        <div class = "nav">
            <div class="nav-left"></div>
            <div class="nav-center">
                <a href="{{ url_for('index') }}">home</a>
                <a href="{{ url_for('closet_pieces') }}">closet</a>
                <a href="{{ url_for('show_all_outfits') }}">outfit logs</a>
            </div>
            <div class="nav-right"></div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <a href="{{ url_for('logout') }}">log out</a>
        </div>
    </body>
</html>

