{% extends "base.html" %}

{% block content %}

<div class="closet-sidebar">
    <div class="dot-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    <div class="closet-sidebar-content">
        <h2>filter closet!</h2>
        <div class="search-container">
            <input type="text" id="closet-search-input" placeholder="search by name or brand"/>
        </div>
        <a class="button filter-btn" data-category="tops">tops</a>
        <a class="button filter-btn" data-category="bottoms">bottoms</a>
        <a class="button filter-btn" data-category="shoes">shoes</a>
        <a class="button filter-btn" data-category="dresses">dresses</a>
        <a class="button filter-btn" data-category="accessories">accessories</a>
        <a class="button filter-btn" data-category="all">all</a>
    </div>
</div>
<div class="page-container">
    <h1>closet pieces</h1>

    <div class = "closet-piece-list-container">
        {% for piece in closet %}
            <div class = "closet-piece-container"
                data-name="{{ piece.name | lower }}"
                data-category="{{ piece.category | lower }}"
                data-brand="{{ piece.brand | lower if piece.brand else '' }}"
                data-deaccessioned="{{ piece.deaccessioned | lower }}"
                data-credit-type="{{ piece.acquisition.credit_type | lower if piece.acquisition else '' }}">
                <div class="cpl-image">
                    {% if piece.media %}
                        <img 
                            src="{{ url_for('static', filename=piece.piece_images[0].img_src) }}"
                            alt="{{ piece.name }}"
                        >
                    {% else %}
                        <div class="cpl-no-image">
                            <p>no image a drawing to come here soon :p</p>
                        </div>
                    {% endif %}
                </div>
                <div class = "cpl-text">
                    {% if piece.deaccessioned == True %}
                        <h3>{{ piece.name }} (deaccessioned)</h3>
                    {% else %}
                        <h3>{{ piece.name }}</h3>
                    {% endif %}

                    {% if piece.year_made %}
                        <p>by {{ piece.brand }}, {{ piece.year_made }}</p>
                    {% else %}
                        {% if piece.brand %}
                            <p>by {{ piece.brand }}</p>
                        {% else %}
                            <p>by unknown designer</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    </div>
</div>


{% endblock %} 