{% extends "base.html" %}

{% block content %}

<div class="outfit-builder-container">
  <form method="POST" class="outfit-builder-form">
    {{ form.csrf_token }}

    <div class="form-row">
      <h1>log an outfit</h1>
      {{ form.date_worn(class="add-piece-input") }}
    </div>

    <div class="select-piece-searchbar">
      <div class="form-row">
        <p>selected pieces: </p>
      </div>
      <div class="form-row">
        <p>add piece: </p>
        <p>search bar here</p>
        <p>search results populate here as you type - see figma</p>
      </div>
    </div>

    <div class="form-row">
      {{ form.notes.label(class="add-piece-label") }}
      {{ form.notes(class="add-piece-input") }}
    </div>

    <div class="form-row">
      {{ form.tags.label(class="add-piece-label") }}
      {{ form.tags(class="add-piece-input") }}
    </div>

    <div class="form-row">
      <div class="form-submit-button">
        {{ form.submit(value="add outfit") }}
      </div>
    </div>
  </form>

</div>

{% endblock %}