{% extends "base.html" %}

{% block content %}
<div class="build-outfit-container">
<h1>let's build an outfit!</h1>
<p>insert search field here for outfit pieces. when you select, it will add to a temp list that is then displayed, and on submit, that then enters the piece list as the entry for the submit-outfit-form. allow for edits like adding more pieces or removing pieces from outfit before submitting</p>

<input
  type="text"
  id="piece-search"
  placeholder="Search pieces..."
/>

<div id="search-results"></div>

<div class="outfit-form">
    <p>insert form here about date, notes, tags for outfit.</p>
</div>

</div>


{% endblock %}