{% extends "base.html" %}

{% block content %}
<h1>log an outfit!</h1>
<p>see yellow notebooks for more notes on how the forms will work</p>

<div class="outfit-builder-container">
  <form method="POST" class="outfit-builder-form">
    {{ form.csrf_token }}

    <div class="form-row">
      {{ form.date_worn.label(class="add-piece-label") }}
      {{ form.date_worn(class="add-poiece-input") }}
    </div>

    <div class="form-row">
      <p>selected pieces: </p>
    </div>
    <div class="form-row">
      <p>add piece: </p>
      <p>search bar here</p>
      <p>search results populate here as you type - see figma</p>
    </div>

    <div class="form-row">
      {{ form.notes.label(class="add-piece-label") }}
      {{ form.notes(class="add-pioece-input") }}
    </div>

    <div class="form-row">
      {{ form.tags.label(class="add-piece-label") }}
      {{ form.tags(class="add-piece-label") }}
    </div>

    <div class="form-row">
      {{ form.submit(value="add outfit") }}
    </div>
  </form>

</div>

{% endblock %}