{% extends "base.html" %}

{% block content %}
<h1>step 1 of adding an outfit! to add search bar with JS in a few</h1>
<p>notes: on hover over cal button, it changes color with pop up text that says, "change date"</p>

<div class="outfit-builder-container">
  <form method="POST" class="outfit-builder-form">
    {{ form.csrf_token }}

    <div class="form-row">
      <h2>log an outfit</h2>
      {{ form.date_worn(class="add-piece-input", id="log-outfit-date-input") }}
    </div>

    <div class="form-row">
      {{ form.special_toggle.label(class="add-piece-label")}}
      {{ form.special_toggle(class="add-piece-input-checkbox")}}
    </div>

    <div class="select-piece-searchbar, selected-piece-search-js">
      <div class="form-row">
        <p>selected pieces: </p>
      </div>
      <div class="form-row">
        <p>add piece: </p>
        <p>search bar here</p>
        <p>search results populate here as you type - see figma</p>
      </div>
    </div>

    <div class="form-row">
      <div class="form-submit-button">
        <a href="{{ url_for('log_outfit_step_two') }}">next</a>
      </div>
    </div>
  </form>

</div>

{% endblock %}