{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h1>let's access your archive <3</h1>
    <div class="login-form">
        <form method="POST">
            {{ form.csrf_token }}
            <table class="login-form-table">
                <tr class="login-form-row">
                    <td>{{ form.password(class="login-label") }}</td>
                </tr>
                <tr class="login-form-row">
                    <td class="form-submit-button">
                        {{ form.submit() }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}